@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

*{
    /* margin: 0; */
}

.font{
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: black;
}

/* commom style */

.d-flex{
    display: flex;
}

.d-block{
    display: grid;
}

.c-title{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    line-height: .5;
}

.ctitle{
    font-size: 1.125rem;
    font-weight: 600;
}
.cdesc{
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}
/* Header style */
.head{
    /* max-height: 715px; */
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.Cursive{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1px;
}

.title{
    font-style: italic;
    color: rgb(230, 83, 60);
    font-size: 2.3rem;
    font-weight: 800;
}

.Nav-bar .banner .Gener-img{
    max-width: 1440px;
    margin: 0 auto;
}
 
.Nav-bar{
    justify-content: space-around;
    align-items: center;
}

.nav-link li{
    list-style: none;
    display: inline-block;
    margin: 47px;
}

.nav-link li a{
    text-decoration: none;
    color: #ffffff;
}

.banner-title{
    font-size: 4.8rem;
}

.banner-content{
    max-width: 500px;
}

.fixed-hover{
    border: 1px solid black;
    padding: 10px;
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
}

.Descrip{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 28px;
}

.btn{
    border:  1px solid #ffffff;
    border-radius: 42px;
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 600;
    padding: 16px 40px;
    background-color: rgb(230, 83, 60);
}

.banner{
    justify-content: space-around;
}

.img{
    position: relative;
}
.bt1{
    background: none;
}

.banner-jpg{
    position: absolute;
    background:rgba(255, 255, 255, 0.1) ;
    left: 1140px;
    top: 250px;
    padding: 17px 35px 20px 14px;
    border-radius: 17px;
}

.jpg-font{
    color: rgb(255, 255, 255);
    font-family: 'Inter',sans-serif;
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: right;
}

.jpgfont{
    color: rgba(255, 255, 255, 0.65);
    font-family: 'Inter',sans-serif;
    font-size: .8rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: right;
}

.lines{
    display: none;
    position: absolute;
    cursor: pointer;
    top: 55px;
    right: 30px;
}

.wire{
    width: 20px;
    margin: 4px 4px;
    background-color: white;
    height: 3px;
}

.dot{
    width: 25px;
    height: 25px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.banner-jpg-1{
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    position: absolute;
    left: 810px;
    top: 540px;
    padding: 15px 18px;
    border-radius: 12px;
}
/* Webpage main style */

.Gener{
    gap: 80px;
}

.Gener-tilt{
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
}
.g-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gener-Desc{
    padding: 58px 0px;
}

.Gener-imgs{
    border-radius: 50%;
}

.Gener-img{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Run an Extra mile */

.extramile{
    padding: 50px;
    background: rgb(34, 34, 34);
    gap: 165px;
    justify-content: space-between;
}

.mile-title{
    max-width: 500px;
}

.run-title{
    font-size: 3rem;
    padding: 0;
}

.m-img{
    width: 540px;
}

.m-img img{
    width: 100%;
    border-radius: 20px;
}

/* BMI Calculator */

.bmi-calculator{
    background: rgb(0, 0, 0);
}

.bm-title{
    text-align: center;
    font-size: 3rem;
}
.table-title{
    font-size: 2.75rem;
}
.table-tab{
    background: rgb(34, 34, 34);
    justify-content: space-evenly;
}
.table-design{
    border-collapse: collapse;
}

td{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

th{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.form-desin{
    border-radius: 5px;
    margin: 5px 0px;
}
.form-desin input{
    background: rgba(255, 255, 255, 0.1);
    width: 40%;
    margin: 3px 0px;
    padding: 5px;
    border-radius: 5px;
}
.form-select{
    background: rgba(255, 255, 255, 0.1);
    width: 43%;
    border-radius: 3px;
    padding: 5px;
}
.Select-form{
    background: rgba(255, 255, 255, 0.1);
    width: 87%;
    margin: 5px 0px;
    border-radius: 3px;
    padding: 5px;
}
.btn-1{
    display: block;
}

.train-meet{
    margin-top: 15px;
    padding: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background: rgb(34, 34, 34);
    border-radius: 15px;
}

.meet-card{
    position: relative;
}

.meet-card img{
    border-radius: 15px;
    width: 100%;
    height: 350px;
}

.meet-intro{
    position: absolute;
    bottom: 15px;
    left: 10px;
    padding: 5px;
}

.meet-img-title{
    font-size: 1.25rem;
}

.meet-img-desc{
    text-align: start;
    background: rgb(0, 0, 0, 0.2)
}

.own-part{
    justify-content: space-between;
    gap:50px;
    align-items: center;
}

.fact-tilt{
    font-size: 2.75rem;
}
.fact{
    max-width: 540px;
    padding: 50px 30px;
}

.fact-ita{
    font-size: 1.1rem;
    font-style: italic;
    font-family: 'Miama', sans-serif;
}

.fact-card{
    padding: 10px 0;
}

.fact-free-img{
    width: 600px;
}

.fact-free-img img{
    width: 100%;
}


footer{
    margin-top: 30px;
    background: rgb(34, 34, 34);

}

.feet-head{
    justify-content: space-around;
    border-bottom: 1px solid #FFFFFF;
}

.feet-tilt{
    padding: 20px 0;
}

.feet-tilt h3{
    font-size: 4rem;
    color: #E6533C;
    font-style: italic;
}

.feet-tilt h4{
    font-size: 1.25rem;
}

.feet-tilt li{
    list-style: none;
}

.feet-i{
    padding: 25px 0px;
}
.feet-list{
    padding-top: 10px;
}

.feet-end{
    padding: 15px;
    text-align: center;
}